[Unit]
Description=Buoy Range Test
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/kelp/buoy/scripts/range_test.py
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
